In [2]:
import pandas as pd 
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt

In [3]:
Exchange_Rates = r"C:\Users\kiran\DataSpark_project2_files\Exchange_Rates.csv"

# Try using a different encoding
df = pd.read_csv(Exchange_Rates, encoding='latin1')
df

            Date Currency  Exchange
0       1/1/2015      USD    1.0000
1       1/1/2015      CAD    1.1583
2       1/1/2015      AUD    1.2214
3       1/1/2015      EUR    0.8237
4       1/1/2015      GBP    0.6415
...          ...      ...       ...
11210  2/20/2021      USD    1.0000
11211  2/20/2021      CAD    1.2610
11212  2/20/2021      AUD    1.2723
11213  2/20/2021      EUR    0.8238
11214  2/20/2021      GBP    0.7126

[11215 rows x 3 columns]

In [4]:
df.isnull()

<bound method DataFrame.sum of         Date  Currency  Exchange
0      False     False     False
1      False     False     False
2      False     False     False
3      False     False     False
4      False     False     False
...      ...       ...       ...
11210  False     False     False
11211  False     False     False
11212  False     False     False
11213  False     False     False
11214  False     False     False

[11215 rows x 3 columns]>

In [5]:
df.isnull().sum()

Date        0
Currency    0
Exchange    0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11215 entries, 0 to 11214
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      11215 non-null  object
 1   Currency  11215 non-null  object
 2   Exchange  11215 non-null  float64
dtypes: float64(1), object(2)
memory usage: 263.0+ KB

In [7]:
df.head()

       Date Currency  Exchange
0  1/1/2015      USD    1.0000
1  1/1/2015      CAD    1.1583
2  1/1/2015      AUD    1.2214
3  1/1/2015      EUR    0.8237
4  1/1/2015      GBP    0.6415

In [9]:
df["Date"]=pd.to_datetime(df["Date"])

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11215 entries, 0 to 11214
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      11215 non-null  datetime64[ns]
 1   Currency  11215 non-null  object
 2   Exchange  11215 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 263.0+ KB

In [11]:
df=pd.DataFrame(df)
df.to_csv("Exchange_Rates.csv")